<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="stylesheets/home.css">

</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    <% if (rgpd) { %>
     <script> alert("Bonjour ! pour le bon fonctionnement de notre site nous utilisons des cookies"); </script>
     <% } %>
        <% if(hashtag !== undefined) { %>
        <h5 class="text-center"> <%= hashtag %></h5>
        <% } %>
        <% var x = 1 %>
        <% for(var i = 0; i < threads.length; i++) { %>
        <div class="container rounded p-3 mb-5 bg-white rounded"
            ondblclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)">


            <% if (threads[i].pppathfile === null) { %>
            <a href="#" data-target="#uploadavatar" data-toggle="modal"><img
                    src="https://boutique.alforme.fr/wp-content/uploads/2017/08/avatar-homme.png" alt="Responsive image"
                    class="img-fluid rounded-circle"></a>
            <% } else { %>
            <a href="#" data-target="#uploadavatar" data-toggle="modal"><img src="<%= threads[i].pppathfile %>"
                    alt="Responsive image" class="img-fluid rounded-circle"></a>
            <% } %>


            <small class="text-muted date-thread"><%= threads[i].date_thread %></small>
            <a href="/profiles?username=<%- threads[i].username -%>">
                <h5>@<%= threads[i].username %></h5>
            </a>
            <% if(threads[i].id_user !== user_connect && threads[i].follow_user === false) { %>
            <button type="button" class="btn-sm follow"
                onclick="Follow(followButton<%- x -%> ,<%- threads[i].id_user -%>)"
                id="followButton<%- x -%>">Follow</button>
            <% } else if (threads[i].id_user !== user_connect && threads[i].follow_user === true) { %>
            <button type="button" class="btn-sm follow"
                onclick="Follow(followButton<%- x -%> ,<%- threads[i].id_user -%>)"
                id="followButton<%- x -%>">Unfollow</button>
            <% } %>
            <h4 class="text-center text-thread"><%= threads[i].thread_name %></h4>
            <p class="wordwrap text-center"><%= threads[i].text %></p>
            <a href="/thread?hashtag=<%- escape(threads[i].hashtag) -%>"
                class="bottom-hashtag"><%= threads[i].hashtag %></a>
            <% if (threads[i].liked === false) { %>
            <i onclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)"
                    id="icon<%- x -%>" class="bottom-heart fas fa-heart font-awesome"></i>
            <% } else {%>
            <i onclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)"
                    id="icon<%- x -%>" class="bottom-heart fas fa-heart font-awesome open"></i>
            <% } %>
        </div>
        <% x++ %>
        <% } %>

        <div class="modal fade" id="newthread" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h4 class="">New Thread</h4>
                        <i class="far fa-times-circle fa-lg ml-auto p-2" data-dismiss="modal"
                            style="color: #FA7268; float: right;" onmouseover="this.style.color='#3F82C7';"
                            onmouseout="this.style.color='#FA7268';"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/thread/newthread" method="POST">
                            <div class="form-group text-center">
                                <strong for="title">Title</strong>
                                <p class="text-muted">*le titre du thread ne peut contenir d'espace, ni de caratères spécial</p>

                                <input type="text" class="form-control" name="title" id="title"
                                    placeholder="Enter a title">
                            </div>
                            <div class="form-group text-center">
                                <label class="text-muted" for="thread_content">Tell me your thread</label>
                                <textarea type="text" class="form-control" maxlength="255" rows="5"
                                    name="thread_content" placeholder="maximum of 255 characters"></textarea>
                                <label class="text-muted" for="hashtag">Hashtag</label>
                                <input type="text" class="form-control" name="hashtag" id="hashtag"
                                    placeholder="Enter a hashtag" value="#">
                            </div>
                            <button type="submit" class="btn btn-primary" style="float: right;">Thread</button>
                            <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                            <!-- Protect the page with a token -->
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div id="editmodal"></div>

    </main>

    </div>

    <footer class="fixed-bottom">
        <% include ../partials/footer %>
    </footer>

    <script src="scriptView/scriptHeart.js"></script>
    <script src="scriptView/scriptFollow.js"></script>
    <script src="scriptView/scriptNotifications.js"></script>

</body>

</html>

Responsive Design page profile

Voir pour les notifs

Follower / Following

counter like button




________________


ETES VOUS SUR DE LA SUPPRESION DU COMPTE ?

Like qui remonte ( discover )

text muted (title thread, mdp signup)