<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <% if (User.pppathfile === null) { %>
        <img src="https://boutique.alforme.fr/wp-content/uploads/2017/08/avatar-homme.png" alt="Responsive image"
            class="pp rounded-circle">
        <% } else { %>
        <img src="<%= User.pppathfile %>" alt="Responsive image" class="pp rounded-circle">
        <% } %>


        <div class="container">
            <div class="bottom">
                <h3>@<%= User.username %>
                    <% if(User.id_user !== user_connect && User.follow_user === false) { %>
                    <button type="button" class="btn-sm follow" onclick="Follow(followButton1 ,<%- User.id_user -%>)"
                        id="followButton1">Follow</button>
                    <% } else if (User.id_user !== user_connect && User.follow_user === true) { %>
                    <button type="button" class="btn-sm follow" onclick="Follow(followButton1 ,<%- User.id_user -%>)"
                        id="followButton1">Unfollow</button>
                    <% } %>
                </h3>

                <div class="justify-content-between d-flex">
                    <strong>Follower</strong>
                    <strong>Follow</strong>
                    <strong>Threads</strong>
                </div>
                <div class="justify-content-between d-flex">
                    <a href="#" onclick="DisplayFollower(<%- User.id_user -%>)"
                        class="lead"><%= User.follower[0]['COUNT(*)'] %></a>
                    <a href="#" onclick="DisplayFollow(<%- User.id_user -%>)"
                        class="lead"><%= User.follow[0]['COUNT(*)'] %></a>
                    <p class="lead"><%= threads.threadcount[0]['COUNT(*)'] %></p>
                </div>
            </div>
        </div>
        <hr>

        <div class="row d-flex justify-content-around">
            <% var x = 1 %>
            <% for(var i = 0; i < threads.length; i++) { %>
            <div class="thread" ondblclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)">


                <% if (User.pppathfile === null) { %>
                <img src="https://boutique.alforme.fr/wp-content/uploads/2017/08/avatar-homme.png"
                    alt="Responsive image" class="img-thread rounded-circle">
                <% } else { %>
                <img src="<%= User.pppathfile %>" alt="Responsive image" class="img-thread rounded-circle">
                <% } %>


                <small class="text-muted date-thread"><%= threads[i].date_thread %></small>
                <h6>@<%= User.username %></h6>
                <h4 class="text-center thread-name"><%= threads[i].thread_name %></h4>
                <p class="wordwrap"><%= threads[i].text %></p>
                <a href="/thread?hashtag=<%- escape(threads[i].hashtag) -%>"
                    class="bottom-hashtag"><%= threads[i].hashtag %></a>
                <% if (threads[i].liked === false) { %>
                <i onclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)"
                        id="icon<%- x -%>" class="bottom-heart fas fa-heart font-awesome"></i>
                <% } else {%>
                <i onclick="Like(icon<%- x -%>, <%- threads[i].id_thread -%>)"
                        id="icon<%- x -%>" class="bottom-heart fas fa-heart font-awesome open"></i>
                <% } %>
            </div>
            <% x++ %>
            <% } %>
        </div>

        <div id="editmodal"></div>


    </main>


    <div class="modal fade" id="newthread" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="">New Thread</h4>
                    <i class="far fa-times-circle fa-lg ml-auto p-2" data-dismiss="modal"
                        style="color: #FA7268; float: right;" onmouseover="this.style.color='#3F82C7';"
                        onmouseout="this.style.color='#FA7268';"></i>
                </div>
                <div class="modal-body">
                    <form action="/thread/newthread" method="POST">
                        <div class="form-group text-center">
                            <strong for="title">Title</strong>
                            <p class="text-muted">*le titre du thread ne peut contenir d'espace, ni de caratères spécial</p>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Enter a title">
                        </div>
                        <div class="form-group text-center">
                            <label class="text-muted" for="thread_content">Tell me your thread</label>
                            <textarea type="text" class="form-control" maxlength="255" rows="5" name="thread_content"
                                placeholder="maximum of 255 characters"></textarea>
                            <label class="text-muted" for="hashtag">Hashtag</label>
                            <input type="text" class="form-control" name="hashtag" id="hashtag"
                                placeholder="Enter a hashtag" , value="#">
                        </div>
                        <button type="submit" class="btn btn-primary active" style="float: right;">Thread</button>
                        <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                        <!-- Protect the page with a token -->
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom">
        <% include ../partials/footer %>
    </footer>

    <script src="scriptView/scriptFollow.js"></script>
    <script src="scriptView/scriptHeart.js"></script>
</body>