<!DOCTYPE html>
<html>
  <head>
    <title><%= User.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= User.username %></h1>
    <h1><%= User.username %></h1>
    <p>Welcome to <%= User.username %></p>
    <p>Id User is : <%= User.id_user %></p>
    <p>Password is : <%= User.password %></p>
    <p>email is : <%= User.email %></p>
    <% if (User.telephone !== null) { %>
    <p>telephone is : <%= User.telephone %></p>
    <% } %>
    <p>Register date is : <%= User.date_user %></p>
  </body>
</html>
